<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.progmob_72190339">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProgMob_72190339">
        <activity
            android:name=".DutaActivity"
            android:exported="true" />
            android:label="DUTATANI" />
        <activity
            android:name=".ProteinTrackerActivity"
            android:exported="true" />
        <activity
            android:name=".TableActivity"
            android:exported="true" />
        <activity
            android:name=".ConstraintActivity"
            android:exported="true" />
        <activity
            android:name=".LinearActivity"
            android:exported="true" />
        <activity
            android:name=".HelpActivity"
            android:exported="true"
            android:label="Help Activity" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="Main Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>